@charset "utf-8";
/* CSS Document */
html{
    scroll-behavior: smooth;
}
body{
 background-color:#F9EBC9;
 margin:0px;
 padding:0px;
}
ul{
 list-style:none;
}
a{
 text-decoration:none;
}
section{
 width:100%;
 height:100vh;
 background-image:url("../images/bg.png");
 background-size:cover;
 background-repeat:no-repeat;
 position: relative;
}
nav {
 display: flex;
 justify-content: space-between;
 align-items:center;
 height:60px;
 background-color: black;
 box-shadow:2px 2px 12px rgba(0,0,0,0.2);
 padding:0px 5%;
    
 
}
nav ul{
 display: flex;
}
 
 
nav ul li a{
 margin:30px;
 font-family: monospace;
 color:#3592C2;
 font-size: 19px;
 font-weight:700;
}
.logo{
    position: absolute;
 font-family: fantasy;
 color: #F9EBC9;
 font-size: 22px;
    left: 155px;
  
}
.logoimg{
    
  height: 50px;
}
.active{
 color:#F9EBC9;
}
.model{
    display: flex;
 height:530px;
 position:absolute;
 bottom:115px;
 left:80%;
 transform: translateX(-75%);
 box-shadow:4px 6px 42px rgba(0,0,0,0.2);
}
.text-container p:nth-child(1){
 font-family: calibri;
 font-weight:bold;
 color:#6d6d6d;
 font-size:22px;
}
.text-container p:nth-child(2){
 font-family: calibri;
 font-weight: bold;
 letter-spacing:1px;
 color:#1a1a1a;
 font-size:60px;
 
}
.text-container p:nth-child(3){
 font-family: myriad pro regular;
 color: #403e3e;
 font-size:30px;
 line-height:30px;
}
 
.text-container p{
 margin:45px 0px 25px;
 line-height:0px;
}
.text-container button{
 width:130px;
 height:42px;
 border-radius:10px;
 font-family:calibri;
 font-weight:bold;
 font-size: 14px;
 outline:none;
 margin:0px 10px;
 
}
.text-container{
 position: absolute;
 left:13%;
 top:42%;
 transform:translate(-13%,-42%);
}
.send-email{
 border:2px solid #373636;
 color: #373636;
 background-color:transparent;
 
}
.send-email-link1{
    color: #373636; 
}
.down-cv{
 background-color:#0B0B0B;
 color:#fff; 
 border:none;
}
.cv1{
    color:#FFF;
}
button:active{
 transform:scale(1.1);
}
.about-container{
 width:80%;
 height:330px;
 background:#ffffff;
 border-radius:20px;
 box-shadow:2px 2px 12px rgba(0,0,0,0.2);
 display: flex;
 margin: -7%  auto 20px auto;
 position: relative;
 justify-content:space-evenly;
 align-items: center;
}
.about-container img{
    
 height:300px;
}
.about-text{
    
 width:650px;
    
} 
.about-text p:nth-child(1){
 color:#403e3e;
 font-family: myriad pro;
 font-weight:bold;
 font-size:23px;
 line-height:0px;
}

.about-text p:nth-child(2),.about-text p:nth-child(3){
 color:#7e7d7d;
 font-family:calibri;
 font-size:16px;
}
.about-text button{
 width:120px;
 height: 40px;
 color:#ffffff;
 outline:none;
 border:none;
 font-family: calibri;
 background-color:#262525;
}
.cv2{
    color:#FFF;
}

.send-email-link2{
    color: #ffffff; 
}
.services{
 height:600px;
 background-color:#ffffff;
 padding: 2% 10% 0px 10%;
}
.services-text p:nth-child(1){
 font-family: calibri;
 font-weight:bold;
 color:#1d1c1c;
 font-size:30px;
 line-height:0px;
}

.services-text p:nth-child(2){font-family:calibri;
color:#7e7d7d;
font-size: ;}
.services-text{
 width: 500px;
 margin:50px 0px;
}
.box-container{
 display:flex;
 justify-content:space-between;
}
.box-1,.box-2,.box-3{
 width: 300px;
 height:320px;
 background-size: cover;
 box-shadow:2px 2px 18px rgba(0,0,0,0.3);
 align-items: center;
 justify-content: center;
 display: flex;
 flex-direction: column;
 margin: 0px 4px;
 background-color: #000;
 
}
 
.box-1 span,
.box-2 span,
.box-3 span{
 width:30px;
 height:30px;
 border-radius:50%;
 background-color:#ffffff;
 display: flex;
 justify-content: center;
 align-items:center;
 font-family: calibri;
 font-weight: bold;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
 color:#FFFFFF;
 font-family: calibri;
 font-size: 23px;
 line-height:20px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
 font-family: calibri;
 color:#8F8F8F;
 text-align:center;
 width: 230px;
 margin:0px 0px 20px 0px;
}

.contact-me{
 width: 100%;
 height:430px;
 background-size:cover;
 background-repeat:no-repeat;
 background-color: #1A1A1A;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 0px 0px 20px 0px;
 justify-content:space-between;
}
.contact-me p:nth-child(1){
 color:#FFFFFF;
 font-size: 30px;
 font-family: calibri;
 font-weight:bold;
 border-bottom:2px solid #ffffff;
}

.locationlogo{
 position: absolute;
 display: flex;
 left: 100px;
 top: 1780px;
 width: 90px;
 height:90px;
 }

.location p:nth-child(2){
 position: absolute;
 display: flex;
 left: 105px;
 top: 1850px;
 color:#FFFFFF;
 font-family: calibri;
 font-size: 25px;
    
}

.location p:nth-child(3){
 font-family: calibri;
 color:#8F8F8F;
 position: absolute;
 display: flex;
 left: 30px;
 top: 1900px;
 text-align:center;
 width: 250px;
}

 .emaillogo{
 position: absolute;
 display: flex;
 left: 700px;
 top: 1780px;
 width: 90px;
 height:90px;
 
}
.email p:nth-child(2){
 position: absolute;
 display: flex;
 left: 717px;
 top: 1850px;
 color:#FFFFFF;
 font-family: calibri;
 font-size: 25px;
    
}

.email p:nth-child(3){
 font-family: calibri;
 color:#8F8F8F;
 position: absolute;
 display: flex;
 left: 670px;
 top: 1900px;
 text-align:center;
 
}
.phonelogo{
 position: absolute;
 display: flex;
 left: 1300px;
 top: 1780px;
 width: 90px;
 height:90px;
 
}
.phone p:nth-child(2){
 position: absolute;
 display: flex;
 left: 1274px;
 top: 1850px;
 color:#FFFFFF;
 font-family: calibri;
 font-size: 25px;
    
}

.phone p:nth-child(3){
 font-family: calibri;
 color:#8F8F8F;
 position: absolute;
 display: flex;
 left: 1294px;
 top: 1900px;
 text-align:center;
 
}
 

footer p{
 font-family: calibri;
}

footer{
 height:110px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 position: relative;
}
.copyright{
 color:#565555;
 font-size: 15px;
 position: absolute;
 left:50%;
 bottom:10px;
 transform: translateX(-50%);
}
